.imagen{
   animation: mover 2.5s linear infinite;
}

@keyframes mover{
   0%{
      transform: translateY(0);
   }
   50%{
      transform: translateY(30px);
   }
   100%{
      transform: translateY(0);
   }
}

.entrar{
   animation: entrada .5s ease;
}
.arriba{
   animation: arriba .5s ease;
}
.entrada2{
   animation: entrada2 .5s ease;
}

@keyframes entrada{
   0%{
      opacity: 0;
      transform: translateX(-100px);
   }
   100%{
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes entrada2{
   0%{
      opacity: 0;
      transform: translateX(100px);
   }
   100%{
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes arriba{
   0%{
      opacity: 0;
      transform: translateY(-100px);
   }
   100%{
      opacity: 1;
      transform: translateY(0);
   }
}

#banner{
   position: relative;
}

/* #banner::before{
   content: '';
   position: absolute;
   background-color: black;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   opacity: .5;
} */

/* .cards{
   position: relative;;
}

.cards::before{
   content: '';
   position: absolute;
   background-color: black;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   opacity: .2;
}

.cards-p{
   top: 50%;
   right: 50%;
} */