<!DOCTYPE html>
<html lang="es" class="h-full">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>RAL</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../css/normalize.css">
   <link rel="stylesheet" href="../css/app.css">
</head>
<body class="h-full font-serif"><!--bg-gradient-to-r from-blue-300 to-blue-900 -->
   <div class="h-full my-auto bg-white md:grid md:grid-cols-2 rounded-2xl px-7 md:p-0">
      <div class="flex flex-col content-center h-full text-center" >
         <!-- <nav class="container flex items-center content-around w-full px-0 py-2 md:px-2">
            <img src="img/logo.png" alt="Logo RAL" class="flex-grow-0 w-10">
            <p class="flex-1 text-3xl font-bold text-center">RAL</p>
            <a href="#" class="block w-20 p-2 text-center text-white bg-blue-900 rounded">Registro</a>
         </nav> -->
         <div class="mt-5 mb:mt-10">
            <img src="../img/logo.png" alt="Logo RAL" class="w-16 mx-auto mb-10">
            <h1 class="text-4xl font-bold md:text-5xl">Bienvenido a RAL</h1>
            <p class="mb-7">Registro de aulas y laboratorios</p>
         </div>
         <!-- <div class="flex items-center p-2 mx-auto border rounded shadow w-96">
            <img src="img/logo-google.png" alt="Logo de google" class="flex-grow-0 w-6">
            <p class="flex-auto">Inicie con Google</p>
         </div> -->
         <p id="titulo" class="text-3xl font-bold mb-7">Registrarse</p>
         <form action="#" class="w-full mx-auto text-left md:w-7/12" id="form-login" method="POST">
            <div id="registrarse" class="">
               <div class="flex flex-col mb-5">
                  <label for="nombre" class="font-medium">Nombre Completo</label>
                  <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" class="p-2 border border-transparent rounded shadow-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent">
               </div>
               <div class="flex flex-col mb-5">
                  <label for="correo" class="font-medium">Correo electronico</label>
                  <input type="email" name="correo" id="correo2" placeholder="Ingrese su correo electronico" class="p-2 border border-transparent rounded shadow-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent">
               </div>
               <div class="block md:flex">
                  <div class="flex flex-col mb-5">
                     <label for="pass" class="font-medium">Contraseña</label>
                     <input type="password" name="pass" id="pass2" placeholder="Ingrese su contraseña" class="w-11/12 p-2 border border-transparent rounded shadow-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent md:mr-1">
                  </div>
                  <div class="flex flex-col items-end mb-5">
                     <label for="pass" class="font-medium text-left">Confirme su Contraseña</label>
                     <input type="password" name="confirmpass" id="confirmpass" placeholder="Ingrese su contraseña" class="w-11/12 p-2 border border-transparent rounded shadow-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent md:ml-1">
                  </div>
               </div>
               <div class="flex flex-col mb-5">
                  <label for="sexo" class="font-medium">Sexo</label>
                  <div class="flex items-center">
                     <p class="mr-1">Femenino</p>
                     <input type="radio" name="confirmpass" id="femenino"  class="" value="femenino">
                     <p class="ml-10 mr-1">Masculino</p>
                     <input type="radio" name="confirmpass" id="masculino"  class="" value="masculino">
                  </div>
               </div>
               <button type="submit" class="w-full p-2.5 font-bold text-white uppercase transition duration-500 ease-in-out transform bg-blue-900 border rounded shadow hover:-translate-y-1 hover:scale-110 mb-5" id="btn-registrarse">Registrarse</button>
               <div class="flex content-between w-full mb-10">
                  <p class="flex-1">¿Ya esta registrado?</p><a href="../index.html" class="flex-1 font-medium text-right" id="iniciar">Iniciar sesión</a>
               </div>
            </div>
         </form>
      </div>
      <div class="items-center hidden h-full shadow-xl bg-gradient-to-r from-blue-300 to-blue-900 md:flex">
         <img src="../img/libros.png" alt="Banner" class="w-3/4 mx-auto my-">
      </div>
   </div>
   <script src="../js/registrarse.js></script>
</body>
</html>